<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>gaming</display-name>
    <servlet>
        <servlet-name>myServer</servlet-name>
        <servlet-class>com.gaojc.servlet.MyServer</servlet-class>
    </servlet>

    <!-- url-pattern中配置的/myServer用于指定该Servlet的访问路径 -->
    <servlet-mapping>
        <servlet-name>myServer</servlet-name>
        <url-pattern>/myServer</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
